.content{
	width: 878px;
	float: right;
	margin-top: 62px;
}
.content .article{
	width: 808px;
	margin: 0 75px 30px 0;
}
.article h1{
	text-align: center;
	font-size: 18px;
}
.article img{
	display: block;
	margin: 40px auto 45px;
}
.article p{
	width: 616px;
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	margin: 0 auto;
}
.flip{
	line-height: 24px;
	margin-left: 90px;
}
.flip a{
	width: 616px;
	font-size: 14px;
	color: #000;
}
.flip a:hover{
	text-decoration: underline;
}