<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>关于我们</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/swiper.css"/>
		<link rel="stylesheet" type="text/css" href="./css/common.css"/>
		<link rel="stylesheet" type="text/css" href="./css/about.css"/>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<script src="js/swiper.js"></script>
	</head>
	<body>
		<!-- 头部 -->
		<div class="header">
			<div class="logo">
				<a href="index.html">
					<img src="./images/logo.jpg" />
				</a>
			</div>
			<div class="nav">
				<ul>
					<li>
						<a href="index.html">首页</a>
					</li>
					<li class="active">
						<a href="about.html">关于我们</a>
					</li>
					<li>
						<a href="news.html">新闻中心</a>
					</li>
					<li>
						<a href="product.html">产品中心</a>
					</li>
					<li>
						<a href="contact.html">联系我们</a>
					</li>
				</ul>
			</div>
		</div>
		
		<!-- 轮播图 -->
		<div class="swiper-container banner">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide">
				<img src="images/banner2.jpg" >
			</div>
		    <div class="swiper-slide">
				<img src="images/banner3.jpg" >
			</div>
		    <div class="swiper-slide">
				<img src="images/banner2.jpg" >
			</div>
			<div class="swiper-slide">
				<img src="images/banner3.jpg" >
			</div>
		  </div>
		</div>
		
		<!-- 内容 -->
		<div class="main clearfix">
			<div class="location">
				<div class="wrap">
					当前位置:
					<ul>
						<li><a href="index.html">首页</a>&gt;</li>
						<li><a href="about.html">关于我们</a>&gt;</li>
						<li class="active">公司简介</li>
					</ul>
				</div>
			</div>
			<div class="sidebar">
				<div class="title">
					<h2>关于我们</h2>
					<span>ABOUT US</span>
				</div>
				<ul>
					<li class="on"><a href="">公司简介</a></li>
					<li><a href="">服务理念</a></li>
					<li><a href="">企业文化</a></li>
				</ul>
			</div>
			<div class="article">
				<h1>乐农生物科技有限公司</h1>
				<img src="images/about.jpg" />
				<p>常州乐农生物科技有限公司是一家致力于生产Bt生物农药的高新科技公司，成立于2014年6月。公司以其雄厚的实力，先进的技术，全面快捷、细致周到的服务稳扎于生物农药行业之林，坚持技术与服务的创新思路，努力增强企业的核心竞争力，精心打造“乐农生物科技”的公司品牌。我们的客户主要涉及大型的绿色以及有机农产品生产基地、粮食生产基地、农产品外贸出口型农业生产企业；中小型农场、绿色农产品生产基地、大型农户；普通农户等。自公司创立以来，始终以“客户至上”为导向，注重管理、抓质量、保品质，视创新为灵魂、质量为生命，不断完善客户服务制度。 公司将遵循“科学管理、勇于创新、回归自然、生态平衡、绿色发展”的经营理念，以人才和技术为基础,长期致力于生物农药的创新与工业化研究，创造最高品质的产品和服务。</p>
				<p>我公司生产的Bt生物农药是以农副产品的下脚料和厨余垃圾为主要来源，生产原料和有效成分属天然产物，其中的活体生物本身就是自然环境存在的生物体，这些生物体死亡后很快就被其他微生物分解，所以对环境不会产生不利影响，对病虫害特异性强，害虫和病原难以产生抗药性。不杀伤害虫天敌和有益动物，能保持生态平衡、保证可持续发展。产品主要应用于蔬菜、果园、粮食、林地、草坪等环境，可防控150多种害虫，防治病虫率高，效果好，无化学农药残留；减少对土壤、水体和大气的污染，减少农副产品中农药的残留，最重要的一点是对人类的身体无危害。</p>
			</div>
		</div>
		
		
		<!-- 尾部 -->
		<div class="footer">
			<p>Copyright©2008-2017 常州乐农生物科技有限公司版权所有</p>
		</div>
		<script>
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: true,//可选选项，自动滑动
				loop:true,
			})
		</script>
	</body>
</html>
