<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>新闻详情</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/swiper.css"/>
		<link rel="stylesheet" type="text/css" href="./css/common.css"/>
		<link rel="stylesheet" type="text/css" href="./css/news_details.css"/>
		<link rel="stylesheet" type="text/css" href="./css/base.css"/>
		<script src="js/swiper.js"></script>
	</head>
	<body>
		<!-- 头部 -->
		<div class="header">
			<div class="logo">
				<a href="index.html">
					<img src="./images/logo.jpg" />
				</a>
			</div>
			<div class="nav">
				<ul>
					<li>
						<a href="index.html">首页</a>
					</li>
					<li>
						<a href="about.html">关于我们</a>
					</li>
					<li class="active">
						<a href="news.html">新闻中心</a>
					</li>
					<li>
						<a href="product.html">产品中心</a>
					</li>
					<li>
						<a href="contact.html">联系我们</a>
					</li>
				</ul>
			</div>
		</div>
		
		<!-- 轮播图 -->
		<div class="swiper-container banner">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide">
				<img src="images/banner2.jpg" >
			</div>
		    <div class="swiper-slide">
				<img src="images/banner3.jpg" >
			</div>
		    <div class="swiper-slide">
				<img src="images/banner2.jpg" >
			</div>
			<div class="swiper-slide">
				<img src="images/banner3.jpg" >
			</div>
		  </div>
		</div>
		
		<!-- 内容 -->
		<div class="main clearfix">
			<div class="location">
				<div class="wrap">
					当前位置:
					<ul>
						<li><a href="index.html">首页</a>&gt;</li>
						<li><a href="news_details.html">新闻中心</a>&gt;</li>
						<li class="active">行业动态</li>
					</ul>
				</div>
			</div>
			<div class="sidebar">
				<div class="title">
					<h2>新闻中心</h2>
					<span>NEWS CENTER</span>
				</div>
				<ul>
					<li><a href="news.html">公司新闻</a></li>
					<li class="on"><a href="news.html">新闻中心</a></li>
					<li><a href="news.html">行业动态</a></li>
				</ul>
			</div>
			<div class="content">
				<div class="article">
					<h1>生物农药发展前景</h1>
					<img src="images/news_details.jpg" alt="公司新闻" />
					<p>生物农药一般是天然化合物或遗传基因修饰剂，主要包括生物化学农药(信息素、激素、植物调节剂、昆虫生长调节剂和微生物农药(真菌、细菌、昆虫病毒、原生动物，或经遗传改造的微生物两个部分，农用抗生素制剂不包括在内。我国生物农药按照其成分和来源可分为微生物活体农药、微生物代谢产物农药、植物源农药、动物源农药四个部分。按照防治对象可分为杀虫剂、杀菌剂、除草剂、杀螨剂、杀鼠剂、植物生长调节剂等。就其利用对象而言，生物农药一般分为直接利用生物活体和利用源于生物的生理活性物质两大类，前者包括细菌、真菌、线虫、病毒及拮抗微生物等，后者包括农用抗生素、植物生长调节剂、性信息素、摄食抑制剂、保幼激素和源于植物的生理活性物质等。但是，在我国农业生产实际应用中，生物农药一般主要泛指可以进行大规模工业化生产的微生物源农药。</p>
					<p>随着国际有机农产品市场的不断发展，无化肥副作用的农产品的市场需求增长以及害虫的化学农药抗药性增强，世界对于没有污染的生物农药的需求也日益增长，生物农药的生产和发展前景十分广阔。目前全世界投入化学农药的总投资平均每年280亿美元，但生物农药的投资只有3.8亿美元，只占总额的4%。在中美洲，生物农药只占地区农药市场的2%-3%。亚洲和拉美的生物农药的生产能力也很弱。但是，鉴于世界各国消费者对于无害农产品的需求日益增强，生物农药的发展具有广阔的天地。</p>
				</div>
				<div class="flip">
					<p><a href="news_details.html">上一篇： 生物农药在西红柿生长中的作用</a></p>
					<p><a href="news_details.html">下一篇："菌"中王者--生物农药枯草芽孢杆菌为何那么强!</a></p>
				</div>
			</div>
		</div>
		
		
		<!-- 尾部 -->
		<div class="footer">
			<p>Copyright©2008-2017 常州乐农生物科技有限公司版权所有</p>
		</div>
		<script>
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: true,//可选选项，自动滑动
				loop:true,
			})
		</script>
	</body>
</html>
